<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Taller de Billy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Carter+One">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/Article-List.css">
    <link rel="stylesheet" href="~/Content/Blog-Recent-posts-list.css">
    <link rel="stylesheet" href="~/Content/Blog-Recent-posts-list1.css">
    <link rel="stylesheet" href="~/Content/Contact-Form-Clean.css">
    <link rel="stylesheet" href="~/Content/Footer-Dark.css">
    <link rel="stylesheet" href="~/Content/Header-Dark.css?t=1520925287536">
    <link rel="stylesheet" href="~/Content/MUSA_carousel-product-cart-slider.css">
    <link rel="stylesheet" href="~/Content/MUSA_carousel-product-cart-slider1.css">
    <link rel="stylesheet" href="~/Content/Service-Box-Style-01.css">
    <link rel="stylesheet" href="~/Content/Services.css">
    <link rel="stylesheet" href="~/Content/styles.css?t=1520925287536">
    <link rel="stylesheet" href="~/Content/MyStyleSheet.css?t=1521211194211" />

</head>
<body>
    <div class="header-dark" id="CustomNavbar">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-link" href="@Url.Action("index","home")" style="font-family:Bitter, serif;font-size:30px;">Taller Billy</a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#ServicesArticle">Servicios</a></li>
                        <li><a href="#SpecialtiesArticle">Especialidades</a></li>
                        <li><a href="#SpecialtiesArticle">Galería</a></li>
                        <li><a href="#BlogArticle">Videoblog</a></li>
                        <li><a href="#WhoWeAreArticle">¿Quienes somos? </a></li>
                        <li><a href="#ContactArticle">Contacto</a></li>
                    </ul>
                    <p class="navbar-text navbar-right">
                        @Html.Partial("_LoginPartial")
                    </p>
                </div>
            </div>
        </nav>
    </div><!--Navbar-->

    @RenderBody()

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-6 item text">
                        <h3>Taller Billy</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                        <h3>Servicios </h3>
                        <ul>
                            <li><a href="#">Diagnóstico </a></li>
                            <li><a href="#">Mantenimiento </a></li>
                            <li><a href="#">Mecánica Rápida</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                        <h3>Especialidades </h3>
                        <ul>
                            <li><a href="#">Alineamiento y tramado</a></li>
                            <li><a href="#">Frenos </a></li>
                            <li><a href="#">Suspesnión y dirección</a></li>
                            <li><a href="#">Llantas y balanceo </a></li>
                            <li><a href="#">Afinamiento </a></li>
                            <li><a href="#">Fallas de motor </a></li>
                            <li><a href="#">Aire Acondicionado </a></li>
                            <li><a href="#">Reparación y reconstrucción </a></li>
                            <li><a href="#">Revisión Técnica Vehicular </a></li>
                            <li><a href="#">Electromecánica </a></li>
                            <li><a href="#">Escaneo Digital </a></li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-4 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Taller Billy S.A. © @DateTime.Now.Year</p>
            </div>
        </footer>
    </div><!--Footer-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/CustomNabVar.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsAJP-IO4tCAWq8k7yA8d1zK2RO0LHA3w&callback=initMap">
    </script>
    <script src="~/Scripts/GoogleMaps.js"></script>

</body>
</html>
